.game .user_data {
  display: flex;
  align-items: center;
}
  .game .user_data > *:not( :last-child ) {
    margin-right: 5px;
  }
  .game .user_data-nickname {
    font-weight: bold;
    color: #999;
  }
  .game .user_data-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

.game > * {
  position: absolute;
  color: #fffb;
  user-select: none;
}
.game .chat {
  left: 10px;
  top: 10px;
}
  .game .chat.active {
    background: var( --color-bgr-dark );
  }
  .game .chat-message {
    margin: 0;
    padding: 5px;
    background-color: var( --color-bgr-dark );
    color: #fff;
  }
    .game .chat-message.is-user_info,
    .game .chat-message.is-server {
      background-color: var( --color-info-neutral );
    }
    .game .chat-message:not( .is-user_info ) .user_data-nickname::after {
      content: ": "
    }
  .game .chat-input {
    position: relative;
    color: inherit;
    padding: 5px;
  }
.game .canvas-main {
  width: 100vw;
  height: 100vh;
  background-color: #843737
}
.game .scoreboard,
.game .version,
.game .stats {
  background-color: #333;
  padding: 5px;
}
.game .scoreboard {
  right: 10px;
  top: 10px;
}
.game .version {
  right: 10px;
  bottom: 10px;
}
.game .stats {
  left: 10px;
  bottom: 10px;
}