body {
  overflow: hidden;
  margin: 0;
  font-family: monospace;
}
body > * {
  position: absolute;
  color: #FFFFFFBB;
  background-color: #333;
  user-select: none;
}

.chat {
  left: 10px;
  top: 10px;
}
  .chat-message {
    margin: 0;
    padding: 5px;
    background-color: #00000044;
  }

.canvas-main {
  width: 100vw;
  height: 100vh;
  background-color: #666
}

.server_connection {
  right: 10px;
  top: 10px;
}

.version {
  right: 10px;
  bottom: 10px
}